<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sales Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <style type="text/css">
        /* Align all cells to the right by default since almost all are numbers */
        table tr td, table tr th {
            text-align: right;
        }

        table tr td.text, table tr th.text {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Sales Report</h1>
        </div>

        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th>Total Orders</th>
                        <th>Total Sales</th>
                        <th>Total Items</th>
                        <th>Total Weight</th>
                        <th>Total Profit</th>
                        <th>Average Order Amount</th>
                        <th>Average Order Profit Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>{{ .TotalOrders }}</td>
                        <td>${{ .TotalSales | printf "%.2f" }}</td>
                        <td>{{ .TotalItems }}</td>
                        <td>{{ .TotalWeight | printf "%.2f" }}</td>
                        <td>${{ .TotalProfit | printf "%.2f" }}</td>
                        <td>${{ .AverageOrderAmount | printf "%.2f" }}</td>
                        <td>${{ .AverageOrderProfit | printf "%.2f" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{ range .Invoices }}
            <h4>Order Number: <small>{{ .OrderNumber }}</small></h4>
            <h4>Order Date: <small>{{ .OrderDate }}</small></h4>
            {{ with $customer := .GetCustomer }}
            <address>
                {{ $customer.Name }}<br>
                {{ $customer.Street }}<br>
                {{ $customer.City }}, {{ $customer.State }} {{ $customer.Zip }}<br>
            </address>
            {{ end }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text">SKU</th>
                        <th class="text">Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Weight</th>
                        <th>Extended Price</th>
                        <th>Extended Profit</th>
                        <th>Extended Weight</th>
                        <th>Order Total</th>
                        <th>Order Profit</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .GetLineItems }}
                        <tr>
                            <td class="text">{{ .GetProduct.Sku }}</td>
                            <td class="text">{{ .GetProduct.Description }}</td>
                            <td>${{ .GetProduct.UnitPrice | printf "%.2f" }}</td>
                            <td>{{ .Quantity}}</td>
                            <td>{{ .GetProduct.UnitWeight | printf "%.2f" }}</td>
                            <td>${{ .ExtendedPrice | printf "%.2f" }}</td>
                            <td>${{ .ExtendedProfit | printf "%.2f" }}</td>
                            <td>{{ .ExtendedWeight | printf "%.2f" }}</td>
                        </tr>
                    {{ end }}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>${{ .OrderTotal | printf "%.2f" }}</td>
                        <td>${{ .OrderProfit | printf "%.2f" }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        {{ end }}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
